<div id="about" class="paddsection">
    <div class="container ">
      <div class="row justify-content-between">

        <div class="col-lg-4 mb-4">
          <div class="div-img-bg">
            <div class="about-img">
                <img [src]="source" class="img-responsive" [alt]="source"/>
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <h1 class="p-heading">{{ slogan }}</h1>
            <h3 class="separator">{{ getSlogan() }}</h3>

          </div>
          <button (click)="enroll()">Check2</button>
        </div>
      </div>
    </div>
  </div>